/*
 Theme Name:   bootCommerce Child
 Description:  bootScore WooCommerce Child Theme
 Author:       bootScore
 Author URI:   https://bootscore.me
 Template:     bootscore-main
 Version:      5.2.3.1
 Text Domain:  bootscore
*/

/* 
All style editing is done via scss/_bscore_custom.scss
*/
